@charset "utf-8";
/* CSS Document */

ul.tabs {
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
	height: 32px; /*--Set height of tabs--*/
	width: 100%;
}
ul.tabs li {
	float: left;
	margin: 0;
	padding: 0;
	height: 32px; /*--Subtract 1px from the height of the unordered list--*/
	line-height: 31px; /*--Vertically aligns the text within the tab--*/
	border-left: none;
	overflow: hidden;
	position: relative;
	background: #e0e0e0;
	-moz-border-radius-topright: 10px;
	-moz-border-radius-topleft: 10px;
	margin-right: 4px;
}
ul.tabs li a {
	text-decoration: none;
	color: #000;
	display: block;
	font-size: 1.2em;
	padding: 0 20px;
	outline: none;
}
ul.tabs li a:hover {
	background: #ccc;
	-moz-border-radius-topright: 10px;
	-moz-border-radius-topleft: 10px;
}
html ul.tabs li.active, html ul.tabs li.active a:hover  { /*--Makes sure that the active tab does not listen to the hover properties--*/
	background: #DAF5FE;
}

.tab_container {
	overflow: hidden;
	clear: both;
	float: left; width: 100%;
	background: #fff;
}
.tab_content {
	padding: 20px;
	font-size: 1.2em;
	background: #DAF5FE;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;
	-moz-border-radius-topright: 10px;
}

#two , #three, #four, #five{
	display: none;
}
